.termos {
  padding-top: 120px;
  padding-bottom: 120px;
}

.termos p + h2 {
  padding-top: 48px;
  padding-bottom: 20px;
}
.termos h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.termos p {
  max-width: 75ch;
  margin-bottom: 24px;
}